@mixin utilities(){
    *.alignleft{
        float: left;
        margin-right: $measure*4;
    }
    *.alignright{
        float: right;
        margin-left: $measure*4;
    }
    *.aligncenter{
        margin-left: auto;
        margin-right: auto;
    }
}