@mixin block-image(
    $caption-font,
    $caption-font-weight: false,
    $img-border-radius: false,
) {
    figure.wp-block-image{
        display: block;
        width: fit-content;
        margin: 0 0 $measure*3;
        img{
            margin: 0;
            display: block;
            @if $img-border-radius {
                border-radius: $img-border-radius
            }
        }
        figcaption{
            @extend .f--font-#{$caption-font} !optional;
            @if $caption-font-weight {
                font-weight: $caption-font-weight;
            }
            text-align: right;
            margin-top: $measure * 2;
        }
        &.alignleft{
            float: left;
            margin-right: $measure*4;
        }
        &.alignright{
            float: right;
            margin-left: $measure*4;
        }
        &.aligncenter{
            margin-left: auto;
            margin-right: auto;
        }
    }
    div.wp-block-image{
        margin: 0;
        figure{
            margin-top: 0;
            margin-bottom: $measure*3;
            img{
                margin: 0;
                display: block;
            }
            figcaption{
                @extend .f--font-#{$caption-font} !optional;
                @if $caption-font-weight {
                    font-weight: $caption-font-weight;
                }
                text-align: right;
                margin-top: $measure * 2;
            }
        }
    }
}

@mixin block-image-modifier(
    $caption-color
) {
    figure{
        figcaption{
            color: $caption-color;
        }
    }
}