@mixin block-btn(){
    .wp-block-buttons,
    .wp-block-button{
        margin-bottom: $measure*4;
        .wp-block-button__link{
            @include make-btn-a();
        }
    } 
}

@mixin block-btn-color($_color-a, $_color-b, $_border-color-a, $_background-a) {
    .wp-block-button{
        .wp-block-button__link{
            @include make-btn-a-color(
                $_color-a: $_color-a,
                $colorborder: $_border-color-a);
            @media (hover: hover) {
                &:hover,
                &:focus {
                    @include make-btn-a-interaction($colortext: $_color-b, $colorbackground: $_background-a);
                }
            }
        }
    } 
}