@mixin block-separator(){
    .wp-block-separator{
        width: 100%;
        display: block;
        margin: $measure * 4 0;
    } 
}

@mixin block-separator-color($_border-color-a) {
    .wp-block-separator{   
        border: none;
        border-bottom: 1px solid $_border-color-a;
    } 
}