@mixin block-highlighted(){
    .highlighted{
        margin-bottom: $measure * 4;
        @include make-font-i();
        padding-top: 0;
    }
}

@mixin block-highlighted-color($_color-a) {
    .highlighted{
        color: $_color-a;
    }
}