@mixin block-quote(){
    .wp-block-quote, blockquote {
        padding: $measure * 3 0;
        margin-top: $measure;
        margin-bottom: $measure * 4;
        p{
            @include make-font-l();
            font-style: italic;
            margin-bottom: $measure * 3;
        }
        cite{
            @include make-font-o();
        }
    }
}

@mixin block-quote-color($_color-a, $_border-color-a) {
    .wp-block-quote, blockquote {
        border-top:1px solid $_border-color-a; 
        border-bottom:1px solid $_border-color-a;

        p{
            color: $_color-a;
        }
        cite{
            color: $_color-a;
        }
    }
}