@mixin headings(){
    h2{
        @include make-font-f(600);
        padding-top: $measure;
        margin-bottom: $measure*4;
    }
    h3{ 
        @include make-font-i();
        padding-top: $measure;
        margin-bottom: $measure*4; 
        font-weight: 600;
    }
    h4{ 
        @include make-font-j(600);
        padding-top: $measure;
        margin-bottom: $measure*3;
    }
    h5 {
        @include make-font-k(600);
        padding-top: $measure;
        margin-bottom: $measure*3;
    }
    h6 {
        @include make-font-l(600);
        opacity: 0.7;
    }
}

@mixin headings-color($_color-a) {
    h1,h2,h3,h4,h5,h6{   
        color: $_color-a;
    }
}