@mixin block-table(){
    .wp-block-table{
        margin-bottom: $measure*4;
        table,
        table.wp-block-table {
            width: 100%;
            text-align: left;
            margin: 0;
            border: none;
            padding: 0px;
        }
        table thead,
        table tfoot,
        table.wp-block-table thead,
        table.wp-block-table tfoot {
            border: none;
            border: none;
        }
        table tbody:first-child tr:first-child { //* first row
            td {
                padding: $measure * 2;
                @include make-font-j();
            }
        }
        table td,
        table.wp-block-table td { //* all rows
            @include make-font-k();
            padding: $measure $measure * 2;
            margin: 0px;
        }
        figcaption{
            @include make-font-l();
            margin-top: $measure*2;
            text-align: right;
        }
    }
}
@mixin block-table-color($_border-color-a, $_border-color-b, $_background-a, $_background-b, $_background-c, $_color-a, $_color-b, $_color-c){

    .wp-block-table{
        table tbody:first-child tr:first-child {
            td {
                border: 1px solid $_border-color-a;
            }
        }
        table tbody tr {
            background: $_background-b;
            td{
                color: $_color-b;
            }
        }
        table tbody tr:nth-child(odd) {
            background: $_background-c;
        }
        table tbody:first-child tr:first-child {
            background: $_background-a;
            td {
                color: $_color-a;
            }
        }
        table td,
        table.wp-block-table td {
            border: 1px solid $_border-color-b;
        }
        figcaption{
            color: $_color-c;
        }
    }
}